header {
    background: black;
    height: 100px;
}
.header-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.logo {

    width: 270px;
}
.logo img {
    width: 100%;
    height: auto;
    max-width: 250px;
}
.menu {
    width: 930px;
    color: aliceblue;

    /*list-style: none;*/
}
.topmenu ul {
    justify-content: space-around;
    padding-left: 0;
    width: 60%;
}
.topmenu ul, .mainmenu ul {
    display: flex;
    list-style: none;
}
.mainmenu ul li{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.mainmenu ul li::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background: #561d7b;
}
/*chon phan tu cuoi cua li*/
.mainmenu ul li:last-child::before{
    background: none;
}

.banner {
    width: 100%;
    height:360px;
    position: relative;
}
.swiper {
    height: 100%;
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*làm cho hình không bị méo*/
}
/*.banner .banner-footer {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background-image: url(../images/banner-footer.png);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    background-position: center;*/
/*    filter: drop-shadow(0 -10px 8px #000000);*/
/*    z-index: 9;*/
/*}*/
/*.banner .banner-header {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background-image: url(../images/banner-header.png);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    background-position: center;*/
/*    filter: drop-shadow(0 -10px 8px #000000);*/
/*    z-index: 3;*/
/*}*/
.main-content {
    width: 1200px;
    margin: 0 auto;
    display: flex;


}
.thumb {
   width: 400px;
    position: relative;
}

.thumb img {
    height: auto;
    width: 100%;
    max-width: 100%;
    position: absolute;
}